## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Hamilton,US,81.41,light rain,39.1834,-84.5333,Six Acres Bed & Breakfast
1,4,Matara,LK,78.46,overcast clouds,5.9485,80.5353,Amaloh Boutique Resort
2,6,Lafia,NG,72.39,overcast clouds,8.4833,8.5167,Low Cost Housing Estate
3,7,Padrauna,IN,78.67,heavy intensity rain,26.9025,83.9819,Hotel Sky Lark
4,9,Nicoya,CR,89.15,overcast clouds,10.1483,-85.4520,Guayacan Real

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Nola") & (vacation_df["Country"] == "IT")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Calatayud") & (vacation_df["Country"] == "ES")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Dobrinje") & (vacation_df["Country"] == "BA")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Rylsk")  & (vacation_df["Country"] == "RU")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Jalu") & (vacation_df["Country"] == "LY")]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start[["Lat","Lng"]].to_numpy()
end = vacation_end[["Lat","Lng"]].to_numpy()
stop1 = vacation_stop1[["Lat","Lng"]].to_numpy()
stop2 = vacation_stop2[["Lat","Lng"]].to_numpy()
stop3 = vacation_stop3[["Lat","Lng"]].to_numpy()

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig=gmaps.figure()
directions_layer = gmaps.directions_layer(start[0], end[0], waypoints = [stop1[0],stop2[0],stop3[0]], travel_mode = "DRIVING")
fig.add_layer(directions_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,40,Nola,IT,85.35,few clouds,40.9220,14.5329,Pamaran Hotel
1,27,Dobrinje,BA,86.74,broken clouds,44.0497,18.1194,Pansion MuÅ¡inbegoviÄ
2,95,Rylsk,RU,71.55,scattered clouds,51.5655,34.6822,"Gostinitsa ""Mechta"""
3,123,Jalu,LY,89.53,clear sky,29.0331,21.5482,ØµØ§Ø­Ø¨Ø© Ø§ÙÙØ®Ø§Ù Ø©

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [10]:
# 11a. Add a marker layer for each city to the map.
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)

# 11b. Display the figure
fig=gmaps.figure()
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))